<%= form_for(@letsgo) do |f| %>
	<div class="field">
		<%= f.text_area :content, placeholder: "Propose new date..." %>
		</div>
		<%= f.select :tag, options_for_select( [["Select One", ""], "Eat", "Drink", "Listen/Watch", "Play", "Explore", "Volunteer", "Other"]) %>
		
		<%= f.submit "Post" %>
		<% end %>