<div id="body_container">
    <div class="wrapper">
        <div id="top_sec">
            <div class="tab_contr">
               <h1> Lorem ipsum dolor sit amet</h1>
                </br>
                <p class="lead">
                    Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                </p>
            </div>
        </div>
    </div>
</div>
