legend Contact Us
/ = form_for @message || Message.new do |f|
/   = f.label :name
/   = f.text_field :name
/   = f.label :email
/   = f.text_field :email
/   = f.label :content, "Message"
/   = f.text_area :content 
/   = f.submit "Send Message"
