// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message_div {
	width: 400px;
	background: #fff;
	border-radius: 5px;
	padding: 3px 118px 5px 27px;
}

.message_div .control-label {
	margin-bottom: 10px;
}

.message_div input.btn {
	float: right;
	margin: -53px -113px 5px 5px;
}


.message_div textarea {
	height: 106px;
}
