// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message_div {
	width: 400px;
	background: #fff;
	border-radius: 5px;
	padding: 3px 118px 5px 27px;
}

.ask_me {
  padding: 16px 174px 5px 27px !important;
}

.send-a-message-div {
	padding: 3px 134px 5px 27px;
}

.send-a-message-div hr {
	left: 49px;
	position: relative;
}

.send-a-message-div img {
	width: 130px;
	height: 130px;
	position: relative;
	float: left;
	margin-bottom: 15px;
	margin-top: 5px;
	margin-left: 5px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	z-index: 100;
}

.message_div .control-label {
	margin-bottom: 10px;
}

.message_div textarea {
	height: 106px;
}

.message_div input.btn {
	float: right;
	margin: -73px -113px 5px 5px;
}

.ask_me input.btn {
  margin: -54px -170px 5px 5px;
}

.message_div input.send-a-message {
	float: right;
	margin: -78px -124px 5px 5px !important;
}

.message_div input.contact-us {
	float: right;
	margin: -54px -105px 5px 5px !important;
}

.message_div input.home-page {
	float: right;
	margin: -53px -113px 5px 5px !important;
}

.message_div input.ask-me {
	margin: -73px -102px 5px -1px !important;
}
